@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #cbd5e0 transparent; /* Firefox */
  overflow-y: hidden; /* Hides the vertical scrollbar */
}

/* For Chrome, Safari, and Edge */
.custom-scrollbar::-webkit-scrollbar {
  height: 4px; /* Smaller scrollbar height for x-axis */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e0; /* Customize scrollbar color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
